@page
@model QuizDesigner.Blazor.Server.Pages.LoginModel

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Login</title>
        <link href="~/css/login.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>

    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="~/tetris.svg" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form id="account" method="post">
                    <input type="text" asp-for="Email" class="fadeIn second" placeholder="Email">
                    <input type="text" asp-for="Password"class="fadeIn third" placeholder="Password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

            </div>
        </div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
