@page "/quiz-maker"

@inherits QuizMakerBase

<div class="quiz-div">
    <Row>
        <Column ColumnSize="ColumnSize.Is5">
            <SelectList TItem="string"
                        ElementId="selectTag"
                        TValue="string"
                        Data="@this.TagCollection"
                        TextField="@(s => s)"
                        ValueField="@(s => s)"
                        SelectedValueChanged="this.OnSelectedValueChanged"
                        DefaultItemText="Select a Tag..." />
        </Column>
        <Column ColumnSize="ColumnSize.Is3">
            <Field>
                <TextEdit Placeholder="Name" />
            </Field>
        </Column>
        <Column ColumnSize="ColumnSize.Is2">
            <Field>
                <TextEdit Placeholder="Exam name" />
            </Field>
        </Column>
    </Row>
    <div style="margin-top: 30px;">
        <Row>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="left" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="right" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <div id="actions" class="quiz-data-div">
                    <Button Color="Color.Success" Block="true">Save</Button>
                    <Button Color="Color.Info" Block="true" Clicked="OnResetAsync">Reset</Button>
                </div>
            </Column>
        </Row>
    </div>
</div>