@page "/quiz-maker"

@inherits QuizMakerBase

<p>Try JS Interop</p>

<div class="quiz-div">
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <SelectList TItem="string"
                        TValue="string"
                        Data="@this.TagCollection"
                        TextField="@(s => s)"
                        ValueField="@(s => s)"
                        SelectedValue="@this.SelectedListValue"
                        DefaultItemText="Select a Tag..." />
        </Column>
    </Row>
    <div style="margin-top: 30px;">
        <Row>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="left">First Container</div>
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="right">Second Container</div>
            </Column>
            <Column ColumnSize="ColumnSize.Is2">Actions</Column>
        </Row>
    </div>
</div>