@page "/quiz-maker"

@inherits QuizMakerBase

<div class="quiz-div">
    <Row>
        <Column ColumnSize="ColumnSize.Is5">
            <SelectList TItem="string"
                        TValue="string"
                        Data="@this.TagCollection"
                        TextField="@(s => s)"
                        ValueField="@(s => s)"
                        SelectedValueChanged="this.OnSelectedValueChanged"
                        DefaultItemText="Select a Tag..." />
        </Column>
    </Row>
    <div style="margin-top: 30px;">
        <Row>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="left" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="right" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is2">                
                <div id="actions" class="quiz-data-div">
                    Actions
                </div>
                </Column>
        </Row>
    </div>
</div>