@using QuizDesigner.Blazor.App.Services
@inject TokenProvider tokenProvider

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="/" Title="Home">
                    <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                </SidebarLink>
            </SidebarItem>
            <AuthorizeView>
                <Authorized>
                    <SidebarItem>
                        <SidebarLink Toggled="(isOpen) => mailSidebarSubItems.Toggle(isOpen)" IsShow="true">
                            <Icon Name="IconName.QuestionCircle" Margin="Margin.Is3.FromRight" />Questions
                        </SidebarLink>
                        <SidebarSubItem @ref="mailSidebarSubItems" IsShow="true">
                            <SidebarItem>
                                <SidebarLink To="list-questions">List</SidebarLink>
                            </SidebarItem>
                        </SidebarSubItem>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink Toggled="(isOpen) => appsSidebarSubItems.Toggle(isOpen)" IsShow="true">
                            <Icon Name="IconName.List" Margin="Margin.Is3.FromRight" />Quiz
                        </SidebarLink>
                        <SidebarSubItem @ref="appsSidebarSubItems" IsShow="true">
                            <SidebarItem>
                                <SidebarLink To="create-quiz">Create</SidebarLink>
                            </SidebarItem>
                            <SidebarItem>
                                <SidebarLink To="list-quizzes">List</SidebarLink>
                            </SidebarItem>
                        </SidebarSubItem>
                    </SidebarItem>
                    <SidebarItem>
                        <form action="/Logout" method="post">
                            <button class="nav-link btn btn-link" type="submit">
                                <Icon Name="@("fa fa-sign-out-alt")" Margin="Margin.Is3.FromRight" />Log out
                            </button>
                            <input name="__RequestVerificationToken" type="hidden"
                                   value="@tokenProvider.XsrfToken">
                        </form>
                    </SidebarItem>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="list-group-item list-group-item-action bg-light" href="Login">
                        <Icon Name="@("fa fa-sign-in-alt")" Margin="Margin.Is3.FromRight" />Log in
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    private Sidebar sidebar;
    private SidebarSubItem mailSidebarSubItems;
    private SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}