.quiz-div {
    max-width: 80%;
    margin: 5%;
}

.quiz-blank{
    height: 100vh;
    background-color: white;
}

.quiz-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}