<div class="my-component">
    This Blazor component is defined in the <strong>QuizDesigner.Blazor.ComponentsLibrary</strong> package.
    <button class="alert-info" @onclick="this.PromptMessage">CLICK ME</button>
</div>

@code
{
    [Inject] private ExampleJsInterop ExampleJsInterop { get; set; }

    private async Task PromptMessage()
    {
        await this.ExampleJsInterop.Prompt("Random Message").ConfigureAwait(true);
    }
}
